Integrantes 
Yulexa Andrea Aragon 
Valentina Meneses Tangarife 
Laura Brunal Rueda

En primer lugar, se importa la libreria pandas para la lectura del dataframe

In [2]:
import pandas as pd

Luego, se lee el archivo CSV con pd.read_csv y se muestra

In [3]:
df = pd.read_csv("ColombianosRegistradosEnElExterior.csv")
df

,País,Código ISO país,Oficina de registro,Grupo edad,Edad (años),Área Conocimiento,Sub Area Conocimiento,Nivel Académico,Estado civil,Género,Etnia de la persona,Estatura (CM),Localización,Cantidad de personas
0,FRANCIA,FRA,C. PARIS,ADULTO JOVEN,25,"INGENIERÍA, ARQUITECTURA Y AFINES",OTRAS INGENIERÍAS,NO INDICA,SOLTERO,MASCULINO,OTRO,-1,"(46.227638, 2.213749)",1
1,ESPAÑA,ESP,C. MADRID,ADULTO JOVEN,25,NO INDICA,NO INDICA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,166,"(40.463667, -3.74922)",1
2,ESPAÑA,ESP,C. VALENCIA ESP,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,CASADO,FEMENINO,AFRODESCENDIENTE,-1,"(40.463667, -3.74922)",1
3,CANADA,CAN,C. CALGARY,ADULTO JOVEN,25,CIENCIAS SOCIALES Y HUMANAS,OTROS ESTUDIOS EN CIENCIAS SOCIALES Y HUMANAS,PREGRADO - PROFESIONAL,SOLTERO,MASCULINO,NINGUNA,-1,"(56.130366, -106.346771)",1
4,CANADA,CAN,C. MONTREAL,ADULTO JOVEN,25,CIENCIAS SOCIALES Y HUMANAS,CIENCIA POLÍTICA Y/O RELACIONES INTERNACIONALES,NO INDICA,SOLTERO,FEMENINO,OTRO,-1,"(56.130366, -106.346771)",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226417,ESPAÑA,ESP,C. MADRID,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,CASADO,MASCULINO,OTRO,-1,"(40.463667, -3.74922)",23
226418,ESTADOS UNIDOS,USA,C. MIAMI,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,CASADO,MASCULINO,OTRO,-1,"(37.09024, -95.712891)",8
226419,ESPAÑA,ESP,C. MADRID,ADULTO,40,"ECONOMÍA, ADMINISTRACIÓN CONTADURIA Y AFINES",CONTADURÍA PÚBLICA,NO INDICA,SOLTERO,FEMENINO,OTRO,-1,"(40.463667, -3.74922)",8
226420,ECUADOR,ECU,C. QUITO,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,UNION_LIBRE,MASCULINO,OTRO,168,"(-1.831239, -78.183406)",1
226421,ESTADOS UNIDOS,USA,C. NEWARK,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,-1,"(37.09024, -95.712891)",8

Despúes se hace un for para determinar en cada iteración se accede a la columna y se llama al método .unique() para determinar los valores únicos de cada columna y luego con f-string para incluir el nombre de la columna y los valores únicos en el mensaje impreso.

In [4]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Valores únicos en la columna {column} son: {unique_values}")

Valores únicos en la columna País son: ['FRANCIA' 'ESPAÑA' 'CANADA' 'ESTADOS UNIDOS' 'URUGUAY' 'CHILE' 'MALTA'
 'COSTA RICA' 'BRASIL' 'PERU' 'MEXICO' 'BELGICA' 'ECUADOR' 'ARGENTINA'
 'SUIZA' 'PORTUGAL' 'ISRAEL' 'ARUBA' 'ITALIA' 'REINO UNIDO' 'PAISES BAJOS'
 'PANAMA' 'AUSTRALIA' 'JAPON' 'CHINA' 'FINLANDIA' 'ALEMANIA'
 'EMIRATOS ARABES UNIDOS' 'CHIPRE' 'GRECIA' 'TAILANDIA' 'PARAGUAY'
 'AUSTRIA' 'DINAMARCA' 'GUATEMALA' 'SUECIA' 'EL SALVADOR'
 'COREA, REPUBLICA DE' 'CURAÇAO' 'ARABIA SAUDITA' 'REPUBLICA DOMINICANA'
 'POLONIA' 'ANTILLAS HOLANDESAS' 'HUNGRIA' 'UCRANIA' 'BOLIVIA' 'SINGAPUR'
 'TURQUIA' 'NORUEGA' 'VIET NAM' 'MARRUECOS' 'NICARAGUA' 'NUEVA ZELANDA'
 'IRLANDA' 'INDONESIA' 'TRINIDAD Y TOBAGO' 'HONDURAS' 'ANDORRA' 'NIGERIA'
 'GUYANA FRANCESA' 'LITUANIA' 'REPUBLICA CHECA' 'SUDAFRICA' 'ST. MAARTEN'
 'GUYANA' 'ESTONIA' 'JAMAICA' 'HONG KONG' 'RUMANIA' 'BONAIRE' 'QATAR'
 'BELICE' 'OMAN' 'MALASIA' 'REPUBLICA DE CHINA-TAIWAN' 'AFGANISTAN'
 'CROACIA' 'BIELORRUSIA' 'LUXEMBURGO' 'EGIPTO' 'KENIA' 'PALESTINA'
 'JORDANIA' 'INDIA' 'CAMBOYA' 'LIECHTENSTEIN' 'MACAO'
 'MOLDOVA, REPUBLICA DE' 'GEORGIA' 'GABON' 'KAZAJSTAN'
 'BOSNIA Y HERZEGOVINA' 'SURINAM' 'LETONIA' 'BULGARIA' 'DESCONOCIDO'
 'SERBIA' 'FILIPINAS' 'GHANA' 'BANGLADESH' 'BAHREIN' 'ESLOVENIA' 'ETIOPIA'
 'ESLOVAQUIA' 'TUNEZ' 'ALBANIA' 'ARGELIA' 'MONTENEGRO'
 'MACEDONIA, EX REPUBLICA YUGOSLAVA DE' 'SENEGAL' 'HAITI' 'ISLANDIA'
 'AZERBAIYAN' 'VIETNAM' 'MONGOLIA' 'KUWAIT' 'CABO VERDE' 'BERMUDAS'
 'PAKISTAN' 'BUTAN' 'MAURITANIA' 'ISLAS VIRGENES BRITANICAS' 'GROENLANDIA'
 'MALI' 'MOZAMBIQUE' 'DOMINICA' 'MALDIVAS' 'ANGOLA' 'GUINEA-BISSAU'
 'GUINEA ECUATORIAL' 'GUADALUPE' 'NAMIBIA' 'ANTIGUA Y BARBUDA' 'UGANDA'
 'GUINEA' 'BOTSUANA' 'CONGO' 'CHINA, REPÚBLICA POPULAR' 'MALAWI'
 'BARBADOS' 'COSTA DE MARFIL' 'KOSOVO'
 'LAO, REPUBLIC DEMOCRATICA POPULAR DE' 'MADAGASCAR'
 'SAN VICENTE Y LAS GRANADINAS' 'BAHAMAS' 'SRI LANKA' 'NIGER' 'MONACO'
 'VANUATU' 'SAINT-MARTIN' 'KIRGUISTAN' 'TANZANIA, REPUBLICA UNIDA DE'
 'YEMEN' 'RUANDA' 'BENIN' 'PAPUA NUEVA GUINEA' 'SIERRA LEONA' 'ARMENIA'
 'CAMERUN' 'SAN MARINO' 'ZAMBIA' 'UZBEKISTAN']
Valores únicos en la columna Código ISO país son: ['FRA' 'ESP' 'CAN' 'USA' 'URY' 'CHL' 'MLT' 'CRI' 'BRA' 'PER' 'MEX' 'BEL'
 'ECU' 'ARG' 'CHE' 'PRT' 'ISR' 'ABW' 'ITA' 'GBR' 'NLD' 'PAN' 'AUS' 'JPN'
 'CHN' 'FIN' 'DEU' 'ARE' 'CYP' 'GRC' 'THA' 'PRY' 'AUT' 'DNK' 'GTM' 'SWE'
 'SLV' 'KOR' 'CUW' 'SAU' 'DOM' 'POL' 'HUN' 'UKR' 'BOL' 'SGP' 'TUR' 'NOR'
 'VNM' 'MAR' 'NIC' 'NZL' 'IRL' 'IDN' 'TTO' 'HND' 'AND' 'NGA' 'GUF' 'LTU'
 'CZE' 'ZAF' 'SX' 'GUY' 'EST' 'JAM' 'HKG' 'ROU' 'BES' 'QAT' 'BLZ' 'OMN'
 'MYS' 'TWN' 'AFG' 'HRV' 'BLR' 'LUX' 'EGY' 'KEN' 'PSE' 'JOR' 'IND' 'KHM'
 'LIE' 'MAC' 'MDA' 'GEO' 'GAB' 'KAZ' 'BIH' 'SUR' 'LVA' 'BGR' 'DDD' 'SRB'
 'PHL' 'GHA' 'BGD' 'BHR' 'SVN' 'ETH' 'SVK' 'TUN' 'ALB' 'DZA' 'MNE' 'MKD'
 'SEN' 'HTI' 'ISL' 'AZE' 'MNG' 'KWT' 'CPV' 'BMU' 'PAK' 'BTN' 'MRT' 'VGB'
 'GRL' 'MLI' 'MOZ' 'DMA' 'MDV' 'AGO' 'GNB' 'GNQ' 'GLP' 'NAM' 'ATG' 'UGA'
 'GIN' 'BWA' 'COG' 'MWI' 'BRB' 'CIV' '(NO REGISTRA)' 'LAO' 'MDG' 'VCT'
 'BHS' 'LKA' 'NER' 'MCO' 'VUT' 'MAF' 'KGZ' 'TZA' 'YEM' 'RWA' 'BEN' 'PNG'
 'SLE' 'ARM' 'CMR' 'SMR' 'ZMB' 'UZB']
Valores únicos en la columna Oficina de registro son: ['C. PARIS' 'C. MADRID' 'C. VALENCIA ESP' 'C. CALGARY' 'C. MONTREAL'
 'C. SEVILLA' 'C. NUEVA YORK' 'C. NEWARK' 'C. LAS PALMAS DE G.C'
 'C. MIAMI' 'C. ORLANDO' 'C. MONTEVIDEO' 'C. SANTIAGO' 'C. BOSTON'
 'C. ATLANTA' 'C. ROMA' 'C. SAN JOSE' 'C. SAN FRANCISCO' 'C. BARCELONA'
 'C. TORONTO' 'C. BRASILIA' 'C. IQUITOS' 'C. GUADALAJARA' 'C. BILBAO'
 'C. HOUSTON' 'C. BRUSELAS' 'C. MANAOS' 'C. NUEVA LOJA' 'C. BUENOS AIRES'
 'C. MEXICO' 'C. BERNA' 'C. SAO PAULO' 'C. GUAYAQUIL' 'C. LISBOA'
 'C. TEL AVIV' 'C. LOS ANGELES' 'C. ARUBA' 'C. MILAN' 'C. LONDRES'
 'C. AMSTERDAM' 'C. CHICAGO' 'C. WASHINGTON' 'C. PALMA DE MALLORCA'
 'C. ANTOFAGASTA' 'C. JAQUE' 'C. CANBERRA' 'C. PANAMA' 'C. TOKIO'
 'C. LIMA' 'C. SHANGHAI' 'C. HELSINKI' 'C. QUITO' 'C. BERLIN' 'C. OTTAWA'
 'C. ABU DHABI' 'C. VANCOUVER' 'C. SYDNEY' 'C. FRANKFURT' 'C. BANGKOK'
 'C. ASUNCION' 'C. VIENA' 'C. COPENAGUE' 'C. STO DOM COLORADOS'
 'C. GUATEMALA' 'C. TULCAN' 'C. ESMERALDAS' 'C. SAN JUAN PTO RICO'
 'C. ESTOCOLMO' 'C. GUANGZHOU' 'C. SAN SALVADOR' 'C. SEUL' 'C. CANCUN'
 'C. WILLEMSTAD' 'C. EL CAIRO' 'C. SANTO DOMINGO' 'C. VARSOVIA'
 'C. BUDAPEST' 'C. COLON' 'C. KINGSTON' 'C. LA PAZ' 'C. SINGAPUR'
 'C. ANKARA' 'C. OSLO' 'C. HANOI' 'C. RABAT' 'C. MANAGUA' 'C. AUCKLAND'
 'C. DUBLIN' 'C. JAKARTA' 'C. MOSCU' 'C. PUERTO ESPAÑA' 'C. BEIJING'
 'C. TEGUCIGALPA' 'C. ACRA' 'C. TABATINGA' 'C. PRETORIA' 'C. HONG KONG'
 'C. KUALA LUMPUR' 'C. NUEVA DELHI' 'C. NAIROBI' 'C. SAN CRISTOBAL'
 'C. BARQUISIMETO' 'C. BEIRUT' 'C. PUERTO OBALDIA' 'C. MANILA' 'C. ARGEL'
 'C. CARACAS' 'C. BAKÚ' 'BTA. VISAS PROTOCOLO' 'C. MARACAIBO'
 'C. PUERTO LA CRUZ' 'C. BARINAS']
Valores únicos en la columna Grupo edad son: ['ADULTO JOVEN' 'ADULTO']
Valores únicos en la columna Edad (años) son: [25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40]
Valores únicos en la columna Área Conocimiento son: ['INGENIERÍA, ARQUITECTURA Y AFINES' 'NO INDICA' 'NINGUNA'
 'CIENCIAS SOCIALES Y HUMANAS'
 'ECONOMÍA, ADMINISTRACIÓN CONTADURIA Y AFINES' '(NO REGISTRA)'
 'CIENCIAS DE LA EDUCACIÓN' 'AGRONOMÍA, VETERINARIA Y AFINES'
 'CIENCIAS DE LA SALUD' 'MATEMÁTICAS Y CIENCIAS NATURALES' 'BELLAS ARTES'
 'AVIACIÓN' 'COCINA Y CULINARIA' 'AGRONOMÍA, VETERINARIA Y ZOOTECNIA']
Valores únicos en la columna Sub Area Conocimiento son: ['OTRAS INGENIERÍAS' 'NO INDICA' 'NINGUNA'
 'OTROS ESTUDIOS EN CIENCIAS SOCIALES Y HUMANAS'
 'CIENCIA POLÍTICA Y/O RELACIONES INTERNACIONALES' 'ADMINISTRACIÓN'
 '(NO REGISTRA)' 'DEPORTES, EDUCACIÓN FÍSICA Y RECREACIÓN'
 'COCINA Y CULINARIA' 'INGENIERÍA MECÁNICA Y AFINES' 'EDUCACIÓN'
 'ECONOMÍA' 'INGENIERÍA ELECTRÓNICA, TELECOMUNICACIONES Y AFINES'
 'INGENIERÍA ELÉCTRICA Y AFINES' 'MEDICINA VETERINARIA'
 'INGENIERÍA INDUSTRIAL Y AFINES' 'MEDICINA' 'DERECHO Y AFINES' 'AVIACIÓN'
 'NUTRICIÓN Y DIETÉTICA' 'FÍSICA'
 'PERIODISMO, COMUNICACIÓN SOCIAL Y AFINES'
 'INGENIERÍA EN SISTEMAS, TELEMÁTICA Y AFINES' 'TERAPIAS' 'ARQUITECTURA'
 'BIOLOGÍA, MICROBIOLOGÍA Y AFINES' 'CONTADURÍA PÚBLICA'
 'PUBLICIDAD Y AFINES' 'ARTES PLÁSTICAS, VISUALES Y AFINES'
 'PSICOLOGÍA Y AFINES' 'INGENIERÍA BIOMÉDICA Y AFINES'
 'MATEMÁTICAS, ESTADÍSTICA Y AFINES' 'ENFERMERÍA'
 'INGENIERÍA QUÍMICA Y AFINES' 'OTRO PROGRAMA DE SALUD'
 'INGENIERÍA CIVIL Y AFINES' 'INGENIERÍA AMBIENTAL, SANITARIA Y AFINES'
 'OTRO PROGRAMA DE BELLAS ARTES' 'OPTOMETRÍA'
 'OTROS PROGRAMAS DE CIENCIAS NATURALES' 'DISEÑO' 'AGRONOMÍA'
 'SOCIOLOGÍA, TRABAJO SOCIAL Y AFINES' 'ODONTOLOGÍA'
 'LENGUAS MODERNAS, FILOLOGÍA, LINGÜÍSTICA Y AFINES' 'QUÍMICA Y AFINES'
 'MÚSICA' 'BACTERIOLOGÍA' 'INGENIERÍA AGROINDUSTRIAL, ALIMENTOS Y AFINES'
 'SALUD OCUPACIONAL (HSEQ)' 'FORMACIÓN MILITAR'
 'INGENIERÍA ADMINISTRATIVA Y AFINES' 'INSTRUMENTACIÓN QUIRÚRGICA'
 'FILOSOFÍA, TEOLOGÍA Y AFINES' 'GEOLOGÍA' 'INGENIERÍA DE PETRÓLEOS'
 'ZOOTECNIA' 'GEOGRAFÍA O HISTORIA' 'ARTES DRAMÁTICAS Y REPRESENTATIVAS'
 'ANTROPOLOGÍA O ARTES LIBERALES' 'INGENIERÍA AGRÍCOLA, FORESTAL Y AFINES'
 'SALUD PÚBLICA' 'BIBLIOTECOLOGÍA'
 'INGENIERÍA DE MINAS, METALURGIA Y AFINES'
 'INGENIERÍA AGRONÓMICA, PECUARIA Y AFINES']
Valores únicos en la columna Nivel Académico son: ['NO INDICA' 'BACHILLERATO' 'PREGRADO - PROFESIONAL' '(NO REGISTRA)'
 'PRIMARIA' 'PREGRADO - TÉCNICO PROFESIONAL' 'PREGRADO - TECNOLÓGICO'
 'NINGUNO' 'POSTGRADO - ESPECIALIZACIÓN' 'POSTGRADO - MAESTRIA'
 'POSTGRADO - DOCTORADO' 'SIN PROFESIÓN']
Valores únicos en la columna Estado civil son: ['SOLTERO' 'CASADO' 'DESCONOCIDO' 'UNION_LIBRE' 'DIVORCIADO' 'VIUDO'
 'SEPARADO_MATRIMONIO' 'SEPARADO_UNION_LIBRE']
Valores únicos en la columna Género son: ['MASCULINO' 'FEMENINO' 'DESCONOCIDO']
Valores únicos en la columna Etnia de la persona son: ['OTRO' 'NINGUNA' 'AFRODESCENDIENTE' 'INDÍGENA' 'SIN ETNIA REGISTRADA'
 'PALENQUERO DE SAN BASILIO' 'GITANO'
 'RAIZAL DEL ARCHIPIELAGO DE SAN ANDRES']
Valores únicos en la columna Estatura (CM) son: [ -1 166 120 165 163 185 170 173 175 160 154 159 172 150 157 152 162 164
 155 179 168 174 169 167 180 178 181 171 148 110 153 188  59 177 156 176
 158 183 184 191 182 151 161 147 195 192 196 140 186 190 187 189 137 194
 145  57 149 143 193 146 198  16 138 197 200 115  17  55   6  53 130 142
  63 117 108 266 144 107  15  58 264  52   0  65 141 280  72  54 199   2
  64  62 665 516  66 112 202  70 501 116  18   1 204   5 127  69 126  67
 139 111  60 136 134  56 122  51  19  61 462 550 135]
Valores únicos en la columna Localización son: ['(46.227638, 2.213749)' '(40.463667, -3.74922)'
 '(56.130366, -106.346771)' '(37.09024, -95.712891)'
 '(-32.522779, -55.765835)' '(-35.675147, -71.542969)'
 '(35.937496, 14.375416)' '(9.748917, -83.753428)'
 '(-14.235004, -51.92528)' '(-9.189967, -75.015152)'
 '(23.634501, -102.552784)' '(50.503887, 4.469936)'
 '(-1.831239, -78.183406)' '(-38.416097, -63.616672)'
 '(46.818188, 8.227512)' '(39.399872, -8.224454)' '(31.046051, 34.851612)'
 '(12.52111, -69.968338)' '(41.87194, 12.56738)' '(55.378051, -3.435973)'
 '(52.132633, 5.291266)' '(8.537981, -80.782127)'
 '(-25.274398, 133.775136)' '(36.204824, 138.252924)'
 '(35.86166, 104.195397)' '(61.92411, 25.748151)' '(51.165691, 10.451526)'
 '(23.424076, 53.847818)' '(35.126413, 33.429859)'
 '(39.074208, 21.824312)' '(15.870032, 100.992541)'
 '(-23.442503, -58.443832)' '(47.516231, 14.550072)'
 '(56.26392, 9.501785)' '(15.783471, -90.230759)' '(60.128161, 18.643501)'
 '(13.794185, -88.89653)' '(35.907757, 127.766922)'
 '(12.16957, -68.990021)' '(23.885942, 45.079162)'
 '(18.735693, -70.162651)' '(51.919438, 19.145136)'
 '(47.162494, 19.503304)' '(48.379433, 31.16558)'
 '(-16.290154, -63.588653)' '(1.352083, 103.819836)'
 '(38.963745, 35.243322)' '(60.472024, 8.468946)'
 '(14.058324, 108.277199)' '(31.791702, -7.09262)'
 '(12.865416, -85.207229)' '(-40.900557, 174.885971)'
 '(53.41291, -8.24389)' '(-0.789275, 113.921327)'
 '(10.691803, -61.222503)' '(15.199999, -86.241905)'
 '(42.546245, 1.601554)' '(9.081999, 8.675277)' '(3.933889, -53.125782)'
 '(55.169438, 23.881275)' '(49.817492, 15.472962)'
 '(-30.559482, 22.937506)' '(18.04248, -63.05483)' '(4.860416, -58.93018)'
 '(58.595272, 25.013607)' '(18.109581, -77.297508)'
 '(22.396428, 114.109497)' '(45.943161, 24.96676)'
 '(12.178361, -68.238534)' '(25.354826, 51.183884)'
 '(17.189877, -88.49765)' '(21.512583, 55.923255)'
 '(4.210484, 101.975766)' '(23.69781, 120.960515)' '(33.93911, 67.709953)'
 '(45.1, 15.2)' '(53.709807, 27.953389)' '(49.815273, 6.129583)'
 '(26.820553, 30.802498)' '(-0.023559, 37.906193)'
 '(31.952162, 35.233154)' '(30.585164, 36.238414)' '(20.593684, 78.96288)'
 '(12.565679, 104.990963)' '(47.166, 9.555373)' '(22.198745, 113.543873)'
 '(47.411631, 28.369885)' '(42.315407, 43.356892)'
 '(-0.803689, 11.609444)' '(48.019573, 66.923684)'
 '(43.915886, 17.679076)' '(3.919305, -56.027783)'
 '(56.879635, 24.603189)' '(42.733883, 25.48583)' '(0.0, 0.0)'
 '(44.016521, 21.005859)' '(12.879721, 121.774017)'
 '(7.946527, -1.023194)' '(23.684994, 90.356331)' '(25.930414, 50.637772)'
 '(46.151241, 14.995463)' '(9.145, 40.489673)' '(48.669026, 19.699024)'
 '(33.886917, 9.537499)' '(41.153332, 20.168331)' '(28.033886, 1.659626)'
 '(42.708678, 19.37439)' '(41.608635, 21.745275)'
 '(14.497401, -14.452362)' '(18.971187, -72.285215)'
 '(64.963051, -19.020835)' '(40.143105, 47.576927)'
 '(46.862496, 103.846656)' '(29.31166, 47.481766)'
 '(16.002082, -24.013197)' '(32.321384, -64.75737)'
 '(30.375321, 69.345116)' '(27.514162, 90.433601)'
 '(21.00789, -10.940835)' '(18.420695, -64.639968)'
 '(71.706936, -42.604303)' '(17.570692, -3.996166)'
 '(-18.665695, 35.529562)' '(15.414999, -61.370976)'
 '(3.202778, 73.22068)' '(-11.202692, 17.873887)'
 '(11.803749, -15.180413)' '(1.650801, 10.267895)'
 '(16.995971, -62.067641)' '(-22.95764, 18.49041)'
 '(17.060816, -61.796428)' '(1.373333, 32.290275)' '(9.945587, -9.696645)'
 '(-22.328474, 24.684866)' '(-0.228021, 15.827659)'
 '(-13.254308, 34.301525)' '(13.193887, -59.543198)'
 '(7.539989, -5.54708)' '(19.85627, 102.495496)' '(-18.766947, 46.869107)'
 '(12.984305, -61.287228)' '(25.03428, -77.39628)' '(7.873054, 80.771797)'
 '(17.607789, 8.081666)' '(43.750298, 7.412841)'
 '(-15.376706, 166.959158)' '(41.20438, 74.766098)'
 '(-6.369028, 34.888822)' '(15.552727, 48.516388)'
 '(-1.940278, 29.873888)' '(9.30769, 2.315834)' '(-6.314993, 143.95555)'
 '(8.460555, -11.779889)' '(40.069099, 45.038189)' '(7.369722, 12.354722)'
 '(43.94236, 12.457777)' '(-13.133897, 27.849332)'
 '(41.377491, 64.585262)']
Valores únicos en la columna Cantidad de personas son: [  1   2   3   6   4   5  13   7  11   8   9  41  10  21  23  14  16  28
  27  12  35  57  70  61  49  18  48  53  20  52  17  67  19  71  25  24
 113  15  36  30 114  62 356  63  90  22  26 100  33  81  99 170  44  50
  92 145  65  29  39 394  75  91  40  37  46 117 102  74  73 109  45  55
  47 129  51  31 168  94  32  60  42 211 194  77 169  43  95  34  82 177
  58  80  97 173 119 179  85  54 143  84 315 103  66 111  88  38 148 300
  72 105 139  96 313 166  68  56 137 255 163  83 156  59 127 138 110 121
 238  69 142  87  89 134 157  86 135 292 256 108 147 159  64 123 149 167
 132 112 115  76 130  78 275 146 120 237 160 207 151 302  98  93 258 201
  79 107 244 106 208 199 104 250 217 181 126 187 164 180 176 188 174]

Posteriormente se elimina la columna 'Localización' con el drop y el axis=1 se usa para especificar que se va a eliminar una columna y se toma esta desición ya que no aporta información relevante para lo que se quiere analizar.

In [5]:
df = df.drop('Localización', axis=1)
df

,País,Código ISO país,Oficina de registro,Grupo edad,Edad (años),Área Conocimiento,Sub Area Conocimiento,Nivel Académico,Estado civil,Género,Etnia de la persona,Estatura (CM),Cantidad de personas
0,FRANCIA,FRA,C. PARIS,ADULTO JOVEN,25,"INGENIERÍA, ARQUITECTURA Y AFINES",OTRAS INGENIERÍAS,NO INDICA,SOLTERO,MASCULINO,OTRO,-1,1
1,ESPAÑA,ESP,C. MADRID,ADULTO JOVEN,25,NO INDICA,NO INDICA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,166,1
2,ESPAÑA,ESP,C. VALENCIA ESP,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,CASADO,FEMENINO,AFRODESCENDIENTE,-1,1
3,CANADA,CAN,C. CALGARY,ADULTO JOVEN,25,CIENCIAS SOCIALES Y HUMANAS,OTROS ESTUDIOS EN CIENCIAS SOCIALES Y HUMANAS,PREGRADO - PROFESIONAL,SOLTERO,MASCULINO,NINGUNA,-1,1
4,CANADA,CAN,C. MONTREAL,ADULTO JOVEN,25,CIENCIAS SOCIALES Y HUMANAS,CIENCIA POLÍTICA Y/O RELACIONES INTERNACIONALES,NO INDICA,SOLTERO,FEMENINO,OTRO,-1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226417,ESPAÑA,ESP,C. MADRID,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,CASADO,MASCULINO,OTRO,-1,23
226418,ESTADOS UNIDOS,USA,C. MIAMI,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,CASADO,MASCULINO,OTRO,-1,8
226419,ESPAÑA,ESP,C. MADRID,ADULTO,40,"ECONOMÍA, ADMINISTRACIÓN CONTADURIA Y AFINES",CONTADURÍA PÚBLICA,NO INDICA,SOLTERO,FEMENINO,OTRO,-1,8
226420,ECUADOR,ECU,C. QUITO,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,UNION_LIBRE,MASCULINO,OTRO,168,1
226421,ESTADOS UNIDOS,USA,C. NEWARK,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,-1,8

Luego, se eliminan los registros con estura menor a 150 cm y mayor a 200 cm, filtrando solo los valores que si se encuentran dentro de ese rango.

In [6]:
df = df[(df['Estatura (CM)'] >= 150) & (df['Estatura (CM)'] <= 200)]
df

,País,Código ISO país,Oficina de registro,Grupo edad,Edad (años),Área Conocimiento,Sub Area Conocimiento,Nivel Académico,Estado civil,Género,Etnia de la persona,Estatura (CM),Cantidad de personas
1,ESPAÑA,ESP,C. MADRID,ADULTO JOVEN,25,NO INDICA,NO INDICA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,166,1
10,ESPAÑA,ESP,C. MADRID,ADULTO JOVEN,25,NO INDICA,NO INDICA,PRIMARIA,SOLTERO,MASCULINO,SIN ETNIA REGISTRADA,165,2
11,ESTADOS UNIDOS,USA,C. ORLANDO,ADULTO JOVEN,25,NINGUNA,NINGUNA,NO INDICA,SOLTERO,MASCULINO,NINGUNA,163,1
19,CHILE,CHL,C. SANTIAGO,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,165,1
22,ESPAÑA,ESP,C. LAS PALMAS DE G.C,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,MASCULINO,OTRO,185,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226404,ESPAÑA,ESP,C. SEVILLA,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,165,3
226406,ARGENTINA,ARG,C. BUENOS AIRES,ADULTO,40,NO INDICA,NO INDICA,POSTGRADO - MAESTRIA,CASADO,FEMENINO,SIN ETNIA REGISTRADA,160,1
226415,ESPAÑA,ESP,C. VALENCIA ESP,ADULTO,40,CIENCIAS DE LA EDUCACIÓN,EDUCACIÓN,PREGRADO - PROFESIONAL,SOLTERO,MASCULINO,NINGUNA,165,1
226416,ESPAÑA,ESP,C. VALENCIA ESP,ADULTO,40,NO INDICA,NO INDICA,PREGRADO - PROFESIONAL,SOLTERO,FEMENINO,NINGUNA,168,1
226420,ECUADOR,ECU,C. QUITO,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,UNION_LIBRE,MASCULINO,OTRO,168,1

Despúes, se utilizar el operador ~ para negar una condición boolenana, por lo tanto, se toma la columna 'Área conocimiento' y con el str.contains se comprueba que tenga el texto 'NO INDICA' y 'NO REGISTRA', es decir, el operador ~ devuelve las filas que no cumplen con esas condiciones.

In [7]:
df = df[~(df['Área Conocimiento'].str.contains('NO INDICA')) & ~(df['Área Conocimiento'].str.contains('NO REGISTRA'))]
df

,País,Código ISO país,Oficina de registro,Grupo edad,Edad (años),Área Conocimiento,Sub Area Conocimiento,Nivel Académico,Estado civil,Género,Etnia de la persona,Estatura (CM),Cantidad de personas
11,ESTADOS UNIDOS,USA,C. ORLANDO,ADULTO JOVEN,25,NINGUNA,NINGUNA,NO INDICA,SOLTERO,MASCULINO,NINGUNA,163,1
19,CHILE,CHL,C. SANTIAGO,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,165,1
22,ESPAÑA,ESP,C. LAS PALMAS DE G.C,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,MASCULINO,OTRO,185,1
91,ESPAÑA,ESP,C. MADRID,ADULTO JOVEN,25,NINGUNA,NINGUNA,PRIMARIA,SOLTERO,FEMENINO,OTRO,150,1
96,CANADA,CAN,C. CALGARY,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,157,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226399,ECUADOR,ECU,C. QUITO,ADULTO,40,CIENCIAS DE LA EDUCACIÓN,EDUCACIÓN,PREGRADO - PROFESIONAL,CASADO,FEMENINO,NINGUNA,165,1
226402,ESTADOS UNIDOS,USA,C. MIAMI,ADULTO,40,NINGUNA,NINGUNA,POSTGRADO - ESPECIALIZACIÓN,SOLTERO,FEMENINO,NINGUNA,166,1
226404,ESPAÑA,ESP,C. SEVILLA,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,165,3
226415,ESPAÑA,ESP,C. VALENCIA ESP,ADULTO,40,CIENCIAS DE LA EDUCACIÓN,EDUCACIÓN,PREGRADO - PROFESIONAL,SOLTERO,MASCULINO,NINGUNA,165,1
226420,ECUADOR,ECU,C. QUITO,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,UNION_LIBRE,MASCULINO,OTRO,168,1

Posteriormente haciendo uso del mismo operador lógico ~ se toma la columna 'Nivel académico' y con el str.contains valida que contenga el texto 'NO INDICA' y 'NO REGISTRA', eliminando todas las filas que coincidan con ambas condiciones

In [8]:
df = df[~(df['Nivel Académico'].str.contains('NO INDICA')) & ~(df['Nivel Académico'].str.contains('NO REGISTRA'))]
df

,País,Código ISO país,Oficina de registro,Grupo edad,Edad (años),Área Conocimiento,Sub Area Conocimiento,Nivel Académico,Estado civil,Género,Etnia de la persona,Estatura (CM),Cantidad de personas
19,CHILE,CHL,C. SANTIAGO,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,165,1
22,ESPAÑA,ESP,C. LAS PALMAS DE G.C,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,MASCULINO,OTRO,185,1
91,ESPAÑA,ESP,C. MADRID,ADULTO JOVEN,25,NINGUNA,NINGUNA,PRIMARIA,SOLTERO,FEMENINO,OTRO,150,1
96,CANADA,CAN,C. CALGARY,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,157,1
108,ESTADOS UNIDOS,USA,C. NUEVA YORK,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,152,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226399,ECUADOR,ECU,C. QUITO,ADULTO,40,CIENCIAS DE LA EDUCACIÓN,EDUCACIÓN,PREGRADO - PROFESIONAL,CASADO,FEMENINO,NINGUNA,165,1
226402,ESTADOS UNIDOS,USA,C. MIAMI,ADULTO,40,NINGUNA,NINGUNA,POSTGRADO - ESPECIALIZACIÓN,SOLTERO,FEMENINO,NINGUNA,166,1
226404,ESPAÑA,ESP,C. SEVILLA,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,165,3
226415,ESPAÑA,ESP,C. VALENCIA ESP,ADULTO,40,CIENCIAS DE LA EDUCACIÓN,EDUCACIÓN,PREGRADO - PROFESIONAL,SOLTERO,MASCULINO,NINGUNA,165,1
226420,ECUADOR,ECU,C. QUITO,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,UNION_LIBRE,MASCULINO,OTRO,168,1

También, utilizando el mismo operador ~ se valida que la columna 'Estado civil' contenga el texto 'DESCONOCIDO' para eliminar todas las filas que contengan ese valor

In [9]:
df = df[~df['Estado civil'].str.contains('DESCONOCIDO')]
df

,País,Código ISO país,Oficina de registro,Grupo edad,Edad (años),Área Conocimiento,Sub Area Conocimiento,Nivel Académico,Estado civil,Género,Etnia de la persona,Estatura (CM),Cantidad de personas
19,CHILE,CHL,C. SANTIAGO,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,165,1
22,ESPAÑA,ESP,C. LAS PALMAS DE G.C,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,MASCULINO,OTRO,185,1
91,ESPAÑA,ESP,C. MADRID,ADULTO JOVEN,25,NINGUNA,NINGUNA,PRIMARIA,SOLTERO,FEMENINO,OTRO,150,1
96,CANADA,CAN,C. CALGARY,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,157,1
108,ESTADOS UNIDOS,USA,C. NUEVA YORK,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,152,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226399,ECUADOR,ECU,C. QUITO,ADULTO,40,CIENCIAS DE LA EDUCACIÓN,EDUCACIÓN,PREGRADO - PROFESIONAL,CASADO,FEMENINO,NINGUNA,165,1
226402,ESTADOS UNIDOS,USA,C. MIAMI,ADULTO,40,NINGUNA,NINGUNA,POSTGRADO - ESPECIALIZACIÓN,SOLTERO,FEMENINO,NINGUNA,166,1
226404,ESPAÑA,ESP,C. SEVILLA,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,165,3
226415,ESPAÑA,ESP,C. VALENCIA ESP,ADULTO,40,CIENCIAS DE LA EDUCACIÓN,EDUCACIÓN,PREGRADO - PROFESIONAL,SOLTERO,MASCULINO,NINGUNA,165,1
226420,ECUADOR,ECU,C. QUITO,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,UNION_LIBRE,MASCULINO,OTRO,168,1

Con el operador ~ se verifica que la columna 'Género' con el str.contains contenga el texto 'DESCONOCIDO' y elimine las filas que contengan dicho dato

In [10]:
df = df[~df['Género'].str.contains('DESCONOCIDO')]
df

,País,Código ISO país,Oficina de registro,Grupo edad,Edad (años),Área Conocimiento,Sub Area Conocimiento,Nivel Académico,Estado civil,Género,Etnia de la persona,Estatura (CM),Cantidad de personas
19,CHILE,CHL,C. SANTIAGO,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,165,1
22,ESPAÑA,ESP,C. LAS PALMAS DE G.C,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,MASCULINO,OTRO,185,1
91,ESPAÑA,ESP,C. MADRID,ADULTO JOVEN,25,NINGUNA,NINGUNA,PRIMARIA,SOLTERO,FEMENINO,OTRO,150,1
96,CANADA,CAN,C. CALGARY,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,157,1
108,ESTADOS UNIDOS,USA,C. NUEVA YORK,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,152,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226399,ECUADOR,ECU,C. QUITO,ADULTO,40,CIENCIAS DE LA EDUCACIÓN,EDUCACIÓN,PREGRADO - PROFESIONAL,CASADO,FEMENINO,NINGUNA,165,1
226402,ESTADOS UNIDOS,USA,C. MIAMI,ADULTO,40,NINGUNA,NINGUNA,POSTGRADO - ESPECIALIZACIÓN,SOLTERO,FEMENINO,NINGUNA,166,1
226404,ESPAÑA,ESP,C. SEVILLA,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,165,3
226415,ESPAÑA,ESP,C. VALENCIA ESP,ADULTO,40,CIENCIAS DE LA EDUCACIÓN,EDUCACIÓN,PREGRADO - PROFESIONAL,SOLTERO,MASCULINO,NINGUNA,165,1
226420,ECUADOR,ECU,C. QUITO,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,UNION_LIBRE,MASCULINO,OTRO,168,1

Se repite el procedimiento anterior pero esta vez tomando la columna 'Etnia de la persona' y con el str.contains se valida que contenga el texto 'SIN ETNIA REGISTRADA' y por consiguiente elimina los registros que coincidan con este campo

In [ ]:
df = df[~df['Etnia de la persona'].str.contains('SIN ETNIA REGISTRADA')]
df

,País,Código ISO país,Oficina de registro,Grupo edad,Edad (años),Área Conocimiento,Sub Area Conocimiento,Nivel Académico,Estado civil,Género,Etnia de la persona,Estatura (CM),Cantidad de personas
19,CHILE,CHL,C. SANTIAGO,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,165,1
22,ESPAÑA,ESP,C. LAS PALMAS DE G.C,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,MASCULINO,OTRO,185,1
91,ESPAÑA,ESP,C. MADRID,ADULTO JOVEN,25,NINGUNA,NINGUNA,PRIMARIA,SOLTERO,FEMENINO,OTRO,150,1
96,CANADA,CAN,C. CALGARY,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,157,1
108,ESTADOS UNIDOS,USA,C. NUEVA YORK,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,152,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226399,ECUADOR,ECU,C. QUITO,ADULTO,40,CIENCIAS DE LA EDUCACIÓN,EDUCACIÓN,PREGRADO - PROFESIONAL,CASADO,FEMENINO,NINGUNA,165,1
226402,ESTADOS UNIDOS,USA,C. MIAMI,ADULTO,40,NINGUNA,NINGUNA,POSTGRADO - ESPECIALIZACIÓN,SOLTERO,FEMENINO,NINGUNA,166,1
226404,ESPAÑA,ESP,C. SEVILLA,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,165,3
226415,ESPAÑA,ESP,C. VALENCIA ESP,ADULTO,40,CIENCIAS DE LA EDUCACIÓN,EDUCACIÓN,PREGRADO - PROFESIONAL,SOLTERO,MASCULINO,NINGUNA,165,1
226420,ECUADOR,ECU,C. QUITO,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,UNION_LIBRE,MASCULINO,OTRO,168,1

Posteriormente, se hace una copia del dataframe, y a dicha copia se le reemplaza específicamente Área Conocimiento AGRONOMÍA, VETERINARIA Y AFINES por AGRONOMÍA, VETERINARIA Y ZOOTECNIA con el método .replace() y luego se le reasigna la copia al data frame original

In [11]:
df_copy = df.copy()

df_copy['Área Conocimiento'] = df_copy['Área Conocimiento'].replace('AGRONOMÍA, VETERINARIA Y AFINES', 'AGRONOMÍA, VETERINARIA Y ZOOTECNIA')

df = df_copy
df

,País,Código ISO país,Oficina de registro,Grupo edad,Edad (años),Área Conocimiento,Sub Area Conocimiento,Nivel Académico,Estado civil,Género,Etnia de la persona,Estatura (CM),Cantidad de personas
19,CHILE,CHL,C. SANTIAGO,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,165,1
22,ESPAÑA,ESP,C. LAS PALMAS DE G.C,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,MASCULINO,OTRO,185,1
91,ESPAÑA,ESP,C. MADRID,ADULTO JOVEN,25,NINGUNA,NINGUNA,PRIMARIA,SOLTERO,FEMENINO,OTRO,150,1
96,CANADA,CAN,C. CALGARY,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,157,1
108,ESTADOS UNIDOS,USA,C. NUEVA YORK,ADULTO JOVEN,25,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,152,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226399,ECUADOR,ECU,C. QUITO,ADULTO,40,CIENCIAS DE LA EDUCACIÓN,EDUCACIÓN,PREGRADO - PROFESIONAL,CASADO,FEMENINO,NINGUNA,165,1
226402,ESTADOS UNIDOS,USA,C. MIAMI,ADULTO,40,NINGUNA,NINGUNA,POSTGRADO - ESPECIALIZACIÓN,SOLTERO,FEMENINO,NINGUNA,166,1
226404,ESPAÑA,ESP,C. SEVILLA,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,SOLTERO,FEMENINO,NINGUNA,165,3
226415,ESPAÑA,ESP,C. VALENCIA ESP,ADULTO,40,CIENCIAS DE LA EDUCACIÓN,EDUCACIÓN,PREGRADO - PROFESIONAL,SOLTERO,MASCULINO,NINGUNA,165,1
226420,ECUADOR,ECU,C. QUITO,ADULTO,40,NINGUNA,NINGUNA,BACHILLERATO,UNION_LIBRE,MASCULINO,OTRO,168,1

Finalmente, lo que se hizo fue hacer un conteo para saber el estado civil de colombianos en el exterior, para ello se hizo uso del str.strip() y str.lower() en el que se convierte el formato de texto en minusculas y se eliminan los espacios para no tener ningun inconveniente con el dataframe que por defecto esta en mayusculas.

Lo mismo se hizo para analizar el área de conocimiento de los colombianos y tener en cuenta qué es lo que mas ejercen laboralmente en otros países.

In [13]:

df['Estado Civil'] = df['Estado civil'].str.strip().str.lower()

conteo_estados_civiles = df['Estado civil'].value_counts()

conteo_estados_civiles

Estado civil
SOLTERO                 13620
CASADO                   5637
UNION_LIBRE              1372
DIVORCIADO                476
VIUDO                      20
SEPARADO_UNION_LIBRE        2
SEPARADO_MATRIMONIO         1
Name: count, dtype: int64

In [14]:
df['Área Conocimiento'] = df['Área Conocimiento'].str.strip().str.lower()

conteo_area_de_conocimiento = df['Área Conocimiento'].value_counts()

conteo_area_de_conocimiento

Área Conocimiento
ninguna                                         8471
economía, administración contaduria y afines    3171
ingeniería, arquitectura y afines               2884
ciencias sociales y humanas                     2286
ciencias de la salud                            1789
bellas artes                                    1121
matemáticas y ciencias naturales                 617
ciencias de la educación                         516
agronomía, veterinaria y zootecnia               207
cocina y culinaria                                42
aviación                                          24
Name: count, dtype: int64

In [12]:
df.to_csv('RegistrosColExterior.csv', index=False)